/* Created by ZZQ on 2019/4/4 18:13 */
/* Develop by ZZQ on 2019/4/4 18:13 */
.root {
  width: 100%;
  height: calc(100vh);
  /*background: #eeeeee;*/
}

.root__image__div {
  /*padding: 0 2rem;*/
}

.root__detail__image {
  height: 30rem;
  text-align: center;
}

.root__title {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 3rem;
  text-align: center;
}

.root__card__grid {
  width: 33.33%;
  height: 10rem;
  text-align: center;
}

.root__card__content {
  width: 1%;
  height: 7rem;
  vertical-align: middle;
  display: table-cell;
  font-size: 1rem;
}

.root__common__title {
  font-size: 1.5rem;
}

.root__common__text {
  color: #999999;
}
